{% extends "base2.html" %}
{% block title %}Royal Carribean{% endblock %}


{% block content %}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Hi Jason!</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="/index">Home</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                    <div class="col-12">
                        <!-- Row -->
                        <div class="row">
                            <!-- column -->
                            <div class="col-lg-4 col-md-6">
                                <!-- Card -->
                                <a href="/userHealthDeclaration">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="/static/assets/images/big/img1.jpg"
                                        alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title text-white">Health Declaration Form</h4>
                                        <!--
                                        <a href="javascript:void(0)" class="btn waves-effect waves-light btn-rounded btn-outline-primary">&#8594;</a>
                                        -->
                                    </div>
                                </div>
                                    </a>
                                <!-- Card -->
                            </div>
                            <!-- column -->
                            <!-- column -->
                            <div class="col-lg-4 col-md-6">
                                <!-- Card -->
                                <a href="/userCrowdControl">
                                <div class="rounded card">
                                    <img class="card-img-top img-fluid" src="/static/assets/images/big/img2.jpg"
                                        alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title text-white">Facilities</h4>
                                    </div>
                                </div>
                                </a>
                                <!-- Card -->
                            </div>
                            <!-- column -->
                            <!-- column -->
                            <div class="col-lg-4 col-md-6">
                                <!-- Card -->
                                <a href="/userRoomService">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="/static/assets/images/big/img3.jpg"
                                        alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title text-white">My Cabin</h4>
                                    </div>
                                </div>
                                </a>
                                <!-- Card -->
                            </div>
                            <!-- column -->
                        </div>
                        <!-- Row -->
                    </div>
                </div>
            </div>
                <!-- End Row -->
{% endblock %}

